@import "tailwindcss";
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade {
  animation: fadeIn 1.2s ease;
}

.animate-fade-delayed {
  animation: fadeIn 1.6s ease;
}
